{{ define "content" }}
<div class="page-breadcrumb">
  <div class="row align-items-center">
    <div class="col-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="/users" class="link"
              ><i class="mdi mdi-home-outline fs-4"></i
            ></a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            Users
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Create New User
          </li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Create New User</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  {{ if .Error }}
    <div class="alert alert-danger">
      {{ .Error }}
    </div>
  {{ end }}
  <div class="col-12">
    <div class="card">
        <div class="card-body">
            <form action="/users" class="form-horizontal form-material mx-2" method="POST">
                <div class="form-group">
                    <label for="name" class="col-md-12">Full Name</label>
                    <div class="col-md-12">
                        <input type="text" placeholder="Johnathan Doe" name="name" value="{{ .Name }}"
                            class="form-control form-control-line" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-12">Email</label>
                    <div class="col-md-12">
                        <input type="email" placeholder="johnathan@admin.com"
                            class="form-control form-control-line" name="email"
                            id="email" value="{{ .Email }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="occupation" class="col-md-12">Occupation</label>
                    <div class="col-md-12">
                        <input type="text" placeholder="Designer"
                            class="form-control form-control-line" name="occupation"
                            id="occupation" value="{{ .Occupation }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Password</label>
                    <div class="col-md-12">
                        <input type="password" name="password"
                            class="form-control form-control-line" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-info text-white">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
{{ end }}