{{ define "content" }}
<div class="page-breadcrumb">
  <div class="row align-items-center">
    <div class="col-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="/users" class="link"
              ><i class="mdi mdi-home-outline fs-4"></i
            ></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Campaign</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Campaign</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- column -->
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!-- title -->
          <div class="d-md-flex">
            <div>
              <h4 class="card-title">List Of Campaign</h4>
              <h5 class="card-subtitle">List Campaign Yang terdaftar</h5>
            </div>
            <div class="ms-auto">
              <div class="dl">
                <select class="form-select shadow-none">
                  <option value="0" selected>Monthly</option>
                  <option value="1">Daily</option>
                  <option value="2">Weekly</option>
                  <option value="3">Yearly</option>
                </select>
              </div>
            </div>
            <div class="ms-auto w-25">
              <a
                href="/campaigns/new"
                class="btn d-block w-100 mb-2 btn-info text-white"
              >
                <i class="mdi mdi-plus"></i>
                New Campaign
              </a>
            </div>
          </div>
          <!-- title -->
          <div class="table-responsive">
            <table class="table mb-0 table-hover align-middle text-nowrap">
              <thead>
                <tr>
                  <th></th>
                  <th class="border-top-0">Name</th>
                  <th class="border-top-0">Short Description</th>
                  <th class="border-top-0">Goal Amount</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{ range .campaigns }}
                <tr>
                  <td>
                    <div class="d-flex align-items-center user-image">
                      {{ if .CampaignImages}}
                      <div
                        class="rounded-circle overflow-hidden m-r-10"
                        style="width: 40px; height: 40px"
                      >
                        <img
                          class="w-100 h-100"
                          src="{{ (index .CampaignImages 0).FileName }}"
                          alt="image"
                          style="object-fit: cover; object-position: center top"
                        />
                      </div>
                      {{ end }}
                    </div>
                  </td>
                  <td>
                    <h4 class="m-b-0 font-16 client-name">{{ .Name }}</h4>
                  </td>
                  <td>{{ .ShortDescription }}</td>
                  <td>{{ .GoalAmountFormatIDR }}</td>
                  <td>
                    <a href="/campaigns/show/{{ .ID }}">
                      <i class="mdi mdi-magnify"></i>
                    </a>
                  </td>
                  <td>
                    <a href="/campaigns/edit/{{ .ID }}">
                      <i class="mdi mdi-pencil"></i>
                    </a>
                  </td>
                  <td>
                    <a href="/campaigns/image/{{ .ID }}">
                      <i class="mdi mdi-camera"></i>
                    </a>
                  </td>
                  <!-- <td>
                    <label class="badge bg-danger">Angular</label>
                  </td>
                  <td>46</td>
                  <td>356</td>
                  <td>
                    <h5 class="m-b-0">$2850.06</h5>
                  </td> -->
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
